{% extends 'base.html.twig' %}

{% block title %}CleanSupply index{% endblock %}

{% block body %}
    <h1>CleanSupply index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Units</th>
                <th>Created</th>
                <th>Modified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for clean_supply in clean_supplies %}
            <tr>
                <td>{{ clean_supply.id }}</td>
                <td>{{ clean_supply.units }}</td>
                <td>{{ clean_supply.created ? clean_supply.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ clean_supply.modified ? clean_supply.modified|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_clean_supply_show', {'id': clean_supply.id}) }}">show</a>
                    <a href="{{ path('app_clean_supply_edit', {'id': clean_supply.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_clean_supply_new') }}">Create new</a>
{% endblock %}
