{% extends 'base.html.twig' %}

{% block title %}CleanSupply{% endblock %}

{% block body %}
    <h1>CleanSupply</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ clean_supply.id }}</td>
            </tr>
            <tr>
                <th>Units</th>
                <td>{{ clean_supply.units }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ clean_supply.created ? clean_supply.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{{ clean_supply.modified ? clean_supply.modified|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_clean_supply_index') }}">back to list</a>

    <a href="{{ path('app_clean_supply_edit', {'id': clean_supply.id}) }}">edit</a>

    {{ include('clean_supply/_delete_form.html.twig') }}
{% endblock %}
