{% extends 'base.html.twig' %}
{% block title %}Customers{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row my-4">
            <div class="col-6">
                <h4>Customers</h4>
            </div>
            <div class="col-6 text-end">
                <a href="{{ path('app_customer_new') }}" class="btn btn-primary btn-sm">Create New</a>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                <table class="table table-striped table-hover border border-2">
                    <thead>
                        <tr>
                            <th>Id <span clsas="text-blue fw-bold">
                                {% if sortfield == 'id' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/customer/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down-a-z"></i></a>
                                    {% else %}
                                        <a href="/customer/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-down-z-a"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/customer/?currentpage={{ currentpage }}&sortfield=id&sortdirection=DESC"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th>First Name <span clsas="text-blue fw-bold">
                                {% if sortfield == 'first_name' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/customer/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down-a-z"></i></a>
                                    {% else %}
                                        <a href="/customer/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-down-z-a"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/customer/?currentpage={{ currentpage }}&sortfield=first_name&sortdirection=DESC"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th>Last Name <span clsas="text-blue fw-bold">
                                {% if sortfield == 'last_name' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/customer/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down-a-z"></i></a>
                                    {% else %}
                                        <a href="/customer/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-down-z-a"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/customer/?currentpage={{ currentpage }}&sortfield=last_name&sortdirection=DESC"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th>Company <span clsas="text-blue fw-bold">
                                {% if sortfield == 'company' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/customer/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down-a-z"></i></a>
                                    {% else %}
                                        <a href="/customer/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-down-z-a"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/customer/?currentpage={{ currentpage }}&sortfield=company&sortdirection=DESC"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th>Address <span clsas="text-blue fw-bold">
                                {% if sortfield == 'address' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/customer/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down-a-z"></i></a>
                                    {% else %}
                                        <a href="/customer/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-down-z-a"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/customer/?currentpage={{ currentpage }}&sortfield=address&sortdirection=DESC"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th>City <span clsas="text-blue fw-bold">
                                {% if sortfield == 'city' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/customer/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down-a-z"></i></a>
                                    {% else %}
                                        <a href="/customer/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-down-z-a"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/customer/?currentpage={{ currentpage }}&sortfield=city&sortdirection=DESC"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th>State <span clsas="text-blue fw-bold">
                                {% if sortfield == 'state' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/customer/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down-a-z"></i></a>
                                    {% else %}
                                        <a href="/customer/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-down-z-a"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/customer/?currentpage={{ currentpage }}&sortfield=state&sortdirection=DESC"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th>Postalcode <span clsas="text-blue fw-bold">
                                {% if sortfield == 'postalcode' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/customer/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down-a-z"></i></a>
                                    {% else %}
                                        <a href="/customer/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-down-z-a"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/customer/?currentpage={{ currentpage }}&sortfield=postalcode&sortdirection=DESC"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th>Created <span clsas="text-blue fw-bold">
                                {% if sortfield == 'created' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/customer/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down-a-z"></i></a>
                                    {% else %}
                                        <a href="/customer/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-down-z-a"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/customer/?currentpage={{ currentpage }}&sortfield=created&sortdirection=DESC"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th>Modified <span clsas="text-blue fw-bold">
                                {% if sortfield == 'modified' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/customer/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down-a-z"></i></a>
                                    {% else %}
                                        <a href="/customer/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-down-z-a"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/customer/?currentpage={{ currentpage }}&sortfield=modified&sortdirection=DESC"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for customer in customers %}
                        <tr>
                            <td>{{ customer.id }}</td>
                            <td>{{ customer.firstName }}</td>
                            <td>{{ customer.lastName }}</td>
                            <td>{{ customer.company }}</td>
                            <td>{{ customer.address }}</td>
                            <td>{{ customer.city }}</td>
                            <td>{{ customer.state }}</td>
                            <td>{{ customer.postalcode }}</td>
                            <td>{{ customer.created ? customer.created|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ customer.modified ? customer.modified|date('Y-m-d H:i:s') : '' }}</td>
                            <td class="text-end">
                                <a href="{{ path('app_customer_show', {'id': customer.id}) }}">show</a> | 
                                <a href="{{ path('app_customer_edit', {'id': customer.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11" class="text-danger">No records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="11">
                                <nav aria-label="..." class="float-end">
                                    <ul class="pagination">
                                        <li class="page-item {% if currentpage == 1 %} disabled{% endif %}">
                                            <a class="page-link" href="/customer/?currentpage={{ currentpage-1 }}&sortfield={{ sortfield }}&sortdirection={{ sortdirection }}">Previous</a>
                                        </li>
                                        {% for i in 1..numberpages %}
                                            <li class="page-item {% if i == currentpage %} active{% endif %}" {% if i == currentpage %}aria-current="page"{% endif %}><a class="page-link" href="/customer/?currentpage={{ i }}&sortfield={{ sortfield }}&sortdirection={{ sortdirection }}">{{ i }}</a></li>
                                        {% endfor %}
                                        <li class="page-item {% if numberpages == 1 or currentpage == numberpages %} disabled{% endif %}" >
                                            <a class="page-link" href="/customer/?currentpage={{ currentpage+1 }}&sortfield={{ sortfield }}&sortdirection={{ sortdirection }}">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
