{% extends 'base.html.twig' %}
{% block title %}Properties{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row my-4">
            <div class="col-6">
                <h4>Properties</h4>
                </div>
            <div class="col-6 text-end">
                <a href="{{ path('app_property_new') }}" class="btn btn-primary btn-sm">Create New</a>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                <table class="table table-striped table-hover border border-2">
                    <thead>
                        <tr>
                            <th>Id <span clsas="text-blue fw-bold">
                                {% if sortfield == 'id' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/property/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down-a-z"></i></a>
                                    {% else %}
                                        <a href="/property/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-down-z-a"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/property/?currentpage={{ currentpage }}&sortfield=id&sortdirection=DESC"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th>Title <span clsas="text-blue fw-bold">
                                {% if sortfield == 'title' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/property/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down-a-z"></i></a>
                                    {% else %}
                                        <a href="/property/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-down-z-a"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/property/?currentpage={{ currentpage }}&sortfield=title&sortdirection=DESC"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th>Address <span clsas="text-blue fw-bold">
                                {% if sortfield == 'address' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/property/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down-a-z"></i></a>
                                    {% else %}
                                        <a href="/property/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-down-z-a"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/property/?currentpage={{ currentpage }}&sortfield=address&sortdirection=DESC"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th>City <span clsas="text-blue fw-bold">
                                {% if sortfield == 'city' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/property/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down-a-z"></i></a>
                                    {% else %}
                                        <a href="/property/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-down-z-a"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/property/?currentpage={{ currentpage }}&sortfield=city&sortdirection=DESC"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th>State <span clsas="text-blue fw-bold">
                                {% if sortfield == 'state' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/property/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down-a-z"></i></a>
                                    {% else %}
                                        <a href="/property/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-down-z-a"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/property/?currentpage={{ currentpage }}&sortfield=state&sortdirection=DESC"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th>Postalcode <span clsas="text-blue fw-bold">
                                {% if sortfield == 'postalcode' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/property/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down-a-z"></i></a>
                                    {% else %}
                                        <a href="/property/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-down-z-a"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/property/?currentpage={{ currentpage }}&sortfield=postalcode&sortdirection=DESC"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for property in properties %}
                        <tr>
                            <td>{{ property.id }}</td>
                            <td>{{ property.title }}</td>
                            <td>{{ property.address }}</td>
                            <td>{{ property.city }}</td>
                            <td>{{ property.state }}</td>
                            <td>{{ property.postalcode }}</td>
                            <td class="text-end">
                                <a href="{{ path('app_property_show', {'id': property.id}) }}">show</a>
                                <a href="{{ path('app_property_edit', {'id': property.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7" class="text-danger">No records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                <nav aria-label="..." class="float-end">
                                    <ul class="pagination">
                                        <li class="page-item {% if currentpage == 1 %} disabled{% endif %}">
                                            <a class="page-link" href="/property/?currentpage={{ currentpage-1 }}&sortfield={{ sortfield }}&sortdirection={{ sortdirection }}">Previous</a>
                                        </li>
                                        {% for i in 1..numberpages %}
                                            <li class="page-item {% if i == currentpage %} active{% endif %}" {% if i == currentpage %}aria-current="page"{% endif %}><a class="page-link" href="/property/?currentpage={{ i }}&sortfield={{ sortfield }}&sortdirection={{ sortdirection }}">{{ i }}</a></li>
                                        {% endfor %}
                                        <li class="page-item {% if numberpages == 1 or currentpage == numberpages %} disabled{% endif %}" >
                                            <a class="page-link" href="/property/?currentpage={{ currentpage+1 }}&sortfield={{ sortfield }}&sortdirection={{ sortdirection }}">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
