{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script> 
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                defaultView: 'dayGridMonth',
                editable: true,
                eventSources: [
                    {
                        url: "{{ path('fc_load_events') }}",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                        failure: () => {
                            console.log("There was an error while fetching FullCalendar!");
                        },
                    },
                ],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
                timeZone: 'UTC',
            });
            console.log(calendar);
            calendar.render();
        });
    </script>
{% endblock %}	
{% block body %}
	<div class="container-fluid mb-4">
        <div class="row my-4">
            <div class="col-12">
                <div style="height:300px" class="text-center">
                    <small class="fw-bold">Cleaning Appointments Per Property by Month</small>
                    {{ render_chart(chart) }}
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header text-start">
                        Next 10 Appointments
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Date/Time</th>
                                            <th>Property</th>
                                            <th>Housekeeper(s)</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for appointment in todaysappointments %}
                                        <tr>
                                            <td>{{ appointment.getScheduled()|format_datetime('long') }}</td>
                                            <td>{{ appointment.getProperty().getTitle() }}</td>
                                            <td>{% for cleanhousekeeper in appointment.getCleanHousekeepers() %}{{ cleanhousekeeper.getHousekeeper().getFirstName() }} {{ cleanhousekeeper.getHousekeeper().getLastName() }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                                            <td class="text-end"><a href="/clean/{{ appointment.getId() }}">details</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="card my-4">
					<div class="card-body">
						<div id="calendar-holder"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}