{% extends 'base.html.twig' %}
{% block title %}Cleaning Appointments{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row my-4">
            <div class="col-6">
                <h4>Cleaning Appointments</h4>
            </div>
            <div class="col-6 text-end">
                <a href="{{ path('app_clean_new') }}" class="btn btn-primary btn-sm">Create New</a>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                <table class="table table-striped table-hover border border-2">
                    <thead>
                        <tr>
                            <th>Id <span clsas="text-blue fw-bold">
                                {% if sortfield == 'id' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/clean/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down"></i></a>
                                    {% else %}
                                        <a href="/clean/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-up"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/clean/?currentpage={{ currentpage }}&sortfield=id&sortdirection=DESC" class="text-secondary" style="--bs-text-opacity: .5;"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th>Property <span clsas="text-blue fw-bold">
                                {% if sortfield == 'property' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/clean/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down"></i></a>
                                    {% else %}
                                        <a href="/clean/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-up"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/clean/?currentpage={{ currentpage }}&sortfield=property&sortdirection=DESC" class="text-secondary" style="--bs-text-opacity: .5;"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th>Scheduled <span clsas="text-blue fw-bold">
                                {% if sortfield == 'scheduled' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/clean/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down"></i></a>
                                    {% else %}
                                        <a href="/clean/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-up"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/clean/?currentpage={{ currentpage }}&sortfield=scheduled&sortdirection=DESC" class="text-secondary" style="--bs-text-opacity: .5;"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th>Start <span clsas="text-blue fw-bold">
                                {% if sortfield == 'start' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/clean/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down"></i></a>
                                    {% else %}
                                        <a href="/clean/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-up"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/clean/?currentpage={{ currentpage }}&sortfield=start&sortdirection=DESC" class="text-secondary" style="--bs-text-opacity: .5;"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th>End <span clsas="text-blue fw-bold">
                                {% if sortfield == 'end' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/clean/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down"></i></a>
                                    {% else %}
                                        <a href="/clean/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-up"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/clean/?currentpage={{ currentpage }}&sortfield=end&sortdirection=DESC" class="text-secondary" style="--bs-text-opacity: .5;"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th>Created <span clsas="text-blue fw-bold">
                                {% if sortfield == 'created' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/clean/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down"></i></a>
                                    {% else %}
                                        <a href="/clean/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-up"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/clean/?currentpage={{ currentpage }}&sortfield=created&sortdirection=DESC" class="text-secondary" style="--bs-text-opacity: .5;"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th>Modified <span clsas="text-blue fw-bold">
                                {% if sortfield == 'modified' %} 
                                    {% if sortdirection == 'ASC' %}
                                        <a href="/clean/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=DESC"><i class="fa-solid fa-arrow-down"></i></a>
                                    {% else %}
                                        <a href="/clean/?currentpage={{ currentpage }}&sortfield={{ sortfield }}&sortdirection=ASC"><i class="fa-solid fa-arrow-up"></i></a>
                                    {% endif %}
                                {% else %} 
                                    <a href="/clean/?currentpage={{ currentpage }}&sortfield=modified&sortdirection=DESC" class="text-secondary" style="--bs-text-opacity: .5;"><i class="fa-solid fa-sort"></i></a>
                                {% endif %}
                                </span>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for clean in cleans %}
                        <tr>
                            <td>{{ clean.id }}</td>
                            <td>{{ clean.property }}</td>
                            <td>{{ clean.scheduled ? clean.scheduled|date('Y-m-d h:i a') : '' }}</td>
                            <td>{{ clean.start ? clean.start|date('Y-m-d h:i a') : '' }}</td>
                            <td>{{ clean.end ? clean.end|date('Y-m-d h:i a') : '' }}</td>
                            <td>{{ clean.created ? clean.created|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ clean.modified ? clean.modified|date('Y-m-d H:i:s') : '' }}</td>
                            <td class="text-end">
                                <a href="{{ path('app_clean_show', {'id': clean.id}) }}">show</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8" class="text-danger">No records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                Records 
                                {% if numberpages <= 1 %}
                                    1 - {{ total }}
                                {% else %}
                                    {{ ((currentpage-1) * recordsperpage) + 1 }} - 
                                    {% if total > (currentpage * recordsperpage) %}
                                        {{ currentpage * recordsperpage }}
                                    {% else %}
                                        {{ total }}
                                    {% endif %}
                                {% endif %}
                                 of {{ total }}
                            </td>
                            <td colspan="4">
                                <nav aria-label="..." class="float-end">
                                    <ul class="pagination">
                                        <li class="page-item {% if currentpage == 1 %} disabled{% endif %}">
                                            <a class="page-link" href="/clean/?currentpage={{ currentpage-1 }}&sortfield={{ sortfield }}&sortdirection={{ sortdirection }}">Previous</a>
                                        </li>
                                        {% for i in 1..numberpages %}
                                            <li class="page-item {% if i == currentpage %} active{% endif %}" {% if i == currentpage %}aria-current="page"{% endif %}><a class="page-link" href="/clean/?currentpage={{ i }}&sortfield={{ sortfield }}&sortdirection={{ sortdirection }}">{{ i }}</a></li>
                                        {% endfor %}
                                        <li class="page-item {% if numberpages == 1 or currentpage == numberpages %} disabled{% endif %}" >
                                            <a class="page-link" href="/clean/?currentpage={{ currentpage+1 }}&sortfield={{ sortfield }}&sortdirection={{ sortdirection }}">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
