{% extends 'base.html.twig' %}
{% block title %}Clean{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row my-4">
            <div class="col-6">
                <h4>{{ clean.property.getTitle() }} on {{ clean.scheduled ? clean.scheduled|date('Y-m-d h:i a') : '' }} ({{ clean.getProperty().getCustomer().getCompany() }})</h4>
            </div>
            <div class="col-6 text-end">
                 <a href="{{ path('app_clean_index') }}" class="btn btn-secondary btn-sm">Back To List</a>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 text-start">Cleaning Appointment Details</div>
                            <div class="col-6 text-end">
                                <a href="{{ path('app_clean_edit', {'id': clean.id}) }}" class="btn btn-primary btn-sm">Edit Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row my-2">
                            <div class="col-6">
                                {{ clean.property.getAddress() }}<br>
                                {{ clean.property.getCity() }}, {{ clean.property.getState() }}  {{ clean.property.getPostalCode() }}
                                
                                <br><span class="fw-bold">Door Code</span>: {% if is_granted('ROLE_ADMIN') %}{{ clean.property.getDoorCode() }}{% else %}****{% endif %}
                                
                                <br><br>
                                <span class="fw-bold">Housekeeper(s)</span>:<br>
                                {% for cleanhousekeeper in clean.getCleanHousekeepers() %}
                                    {{ cleanhousekeeper.getHousekeeper().getFirstName() }} {{ cleanhousekeeper.getHousekeeper().getLastName() }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                                <br><br>
                                <span class="fw-bold">Supplies Claimed</span>: {{ clean.suppliesClaimed ? clean.suppliesClaimed|date('Y-m-d H:i') : '<span class="text-danger fst-italic">Supplies not claimed</span>' }}<br>
                                <span class="fw-bold">Started</span>: {{ clean.start ? clean.start|date('Y-m-d H:i') : '<span class="text-danger fst-italic">Not started</span>' }}<br>
                                <span class="fw-bold">Finished</span>: {{ clean.end ? clean.end|date('Y-m-d H:i') : '<span class="text-danger fst-italic">Not finished</span>' }}
                                <br><br>
                                <span class="fw-bold">Notes:</span><br>
                                {{ clean.notes }}
                            </div>
                            <div class="col-6 text-center">
                                {% if clean.property.getLatitude() and clean.property.getLongitude() %}
                                    <img width="400" height="350" class="border border-dark" src="https://maps.googleapis.com/maps/api/staticmap?center={{ clean.property.getLatitude() }},{{ clean.property.getLongitude() }}&zoom=15&size=400x350&markers=|{{ clean.property.getLatitude() }},{{ clean.property.getLongitude() }}&key=AIzaSyDsSbBwA4vadQpxHcbhtHWxdDdXiel3d5A"><br>
                                    <a href="https://www.google.com/maps/dir/?api=1&destination={{ clean.property.getLatitude() }},{{ clean.property.getLongitude() }}" target="_blank"><i class="fas fa-car"></i> Directions</a><br>
                                {% else %}
                                    <span class="fst-italic text-danger">Directions not available.</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-4 text-center">
                <img src="{{ qrcodepath }}" />
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header text-start">
                        <div class="row">
                            <div class="col-6">
                                Linens Used
                            </div>
                            <div class="col-6 text-end">
                                <a href="#" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newCleanLinenModal">Add Used Linen</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Linen</th>
                                    <th>Units Used</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if clean.getCleanLinens()|length > 0 %}
                                    {% for cleanlinen in clean.getCleanLinens() %}
                                        <tr>
                                            <td>{{ cleanlinen.getLinen().getName() }}</td>
                                            <td>{{ cleanlinen.getUnits() }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="2" class="text-danger fst-italic">No Linens Used</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header text-start">
                        <div class="row">
                            <div class="col-6">
                                Supplies Used
                            </div>
                            <div class="col-6 text-end">
                                <a href="#" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newCleanSupplyModal">Add Used Supply</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Supply</th>
                                    <th>Units Used</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if clean.getCleanSupplies()|length > 0 %}
                                    {% for cleansupply in clean.getCleanSupplies() %}
                                        <tr>
                                            <td>{{ cleansupply.getSupply().getName() }}</td>
                                            <td>{{ cleansupply.getUnits() }}/{{ cleansupply.getSupply().getUnitsMeasurement() }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="2" class="text-danger fst-italic">No Supplies Used</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                <div class="card my-2">
                    <div class="card-header text-start">
                        Inspection Notes
                    </div>
                    <div class="card-body">
                        {% if clean.inspectionNotes %}
                            {{ clean.inspectionNotes }}
                        {% else %}
                            <span class="text-danger fst-italic">No Inspection Notes</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                <div class="card my-2">
                    <div class="card-header text-start">
                        <div class="row">
                            <div class="col-6">Cleaning Photos</div>
                            <div class="col-6 text-end">
                                <a href="#" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newCleanPhotoModal">New Photo</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row my-2">
                            {% if clean.getCleanPhotos()|length > 0 %}
                                {% for clean_photo in clean.getCleanPhotos() %}
                                    <div class="col text-center">
                                        <div style="position:relative;display:inline-block;">
                                            <img src="{{ asset(clean_photo.url) }}" style="height:200px;" class="border border-1"><br>
                                            <span class="fst-italic fw-bold">{{ clean_photo.title }}</span>
                                            {{ include('clean_photo/_delete_form.html.twig') }}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="col-12">
                                    <span class="text-danger fst-italic">No photos found.</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="row my-4">
                <div class="col-12">{{ include('clean/_delete_form.html.twig') }}</div>
            </div>
        {% endif %}
        <div class="row my-4">
            <div class="col-12 text-end">
                <small><span class="fw-bold">Created</span>: {{ clean.created ? clean.created|date('Y-m-d H:i:s') : '' }} <span class="fw-bold">Modified</span>: {{ clean.modified ? clean.modified|date('Y-m-d H:i:s') : '' }}</small>
            </div>
        </div>
    </div>
    <div class="modal fade" id="newCleanPhotoModal" tabindex="-1" aria-labelledby="newCleanPhotoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newCleanPhotoModalLabel">New Cleaning Appointment Photo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ include('clean_photo/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div> 
    <div class="modal fade" id="newCleanLinenModal" tabindex="-1" aria-labelledby="newCleanLinenModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newCleanLinenModalLabel">Add Used Linens</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ include('clean_linen/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="newCleanSupplyModal" tabindex="-1" aria-labelledby="newCleanSupplyModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newCleanSupplyModalLabel">Add Used Supplies</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                    <div class="modal-body">
                    {{ include('clean_supply/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
