{% extends 'base.html.twig' %}
{% block title %}Supply{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row my-4">
            <div class="col-6">
                <h4>{{ supply.name }}</h4>
            </div>
            <div class="col-6 text-end">
                <a href="{{ path('app_supply_index') }}" class="btn btn-secondary btn-sm">Back To List</a>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-start">
                        <div class="row">
                            <div class="col-6 text-start">Details</div>
                            <div class="col-6 text-end"><a href="{{ path('app_supply_edit', {'id': supply.id}) }}" class="btn btn-primary btn-sm">Edit</a></div>
                        </div>
                    </div>
                    <div class="card-body">
                        Units On Hand: {{ supply.units }}<br>
                        Unit Measurement: {{ supply.unitsMeasurement }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12 text-end">
                <small><strong>Created</strong>: {{ supply.created ? supply.created|date('Y-m-d H:i:s') : '' }} <strong>Modified</strong>: {{ supply.modified ? supply.modified|date('Y-m-d H:i:s') : '' }}</small>
            </div>
        </div>
    </div>
    {{ include('supply/_delete_form.html.twig') }}
{% endblock %}
