{{ form_start(cleanlinenform) }}
    <div class="container-fluid">
        <div class="row my-2">
            <div class="col-12">
                <span class="text-danger">
                    {{ form_errors(cleanlinenform) }}
                </span>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-12">
                {{ form_label(cleanlinenform.linen) }}
                {{ form_widget(cleanlinenform.linen) }}
                <small>{{ form_help(cleanlinenform.linen) }}</small>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-12">
                {{ form_label(cleanlinenform.units) }}
                {{ form_widget(cleanlinenform.units) }}
                <small>{{ form_help(cleanlinenform.units) }}</small>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-12 text-end">
                <button class="btn btn-primary btn-sm">{{ button_label|default('Save') }}</button>
            </div>
        </div>
    </div>
{{ form_end(cleanlinenform) }}
