{% extends 'base.html.twig' %}

{% block title %}CleanLinen index{% endblock %}

{% block body %}
    <h1>CleanLinen index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Units</th>
                <th>Created</th>
                <th>Modified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for clean_linen in clean_linens %}
            <tr>
                <td>{{ clean_linen.id }}</td>
                <td>{{ clean_linen.units }}</td>
                <td>{{ clean_linen.created ? clean_linen.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ clean_linen.modified ? clean_linen.modified|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_clean_linen_show', {'id': clean_linen.id}) }}">show</a>
                    <a href="{{ path('app_clean_linen_edit', {'id': clean_linen.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_clean_linen_new') }}">Create new</a>
{% endblock %}
