{% extends 'base.html.twig' %}

{% block title %}CleanLinen{% endblock %}

{% block body %}
    <h1>CleanLinen</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ clean_linen.id }}</td>
            </tr>
            <tr>
                <th>Units</th>
                <td>{{ clean_linen.units }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ clean_linen.created ? clean_linen.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{{ clean_linen.modified ? clean_linen.modified|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_clean_linen_index') }}">back to list</a>

    <a href="{{ path('app_clean_linen_edit', {'id': clean_linen.id}) }}">edit</a>

    {{ include('clean_linen/_delete_form.html.twig') }}
{% endblock %}
